/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

/* CSS Variables */

:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  --primary-color: #3a2620; /* dark brown */
  --secondary-color: #aa9581; /* light brown */
  --highlight-color: #426a8e; /* blue*/
  --light-highlight-color: #7a9fc2; /* light blue */
}

/* Global styles */
body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

.sub-heading-color {
  color: var(--highlight-color);
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Navbar CSS */

#navbar {
  background-color: var(--primary-color);
}

#navbar .logo {
  width: 30px;
}

/* Header */
#header .lead {
  font-family: var(--secondary-font);
}

/* Services */
#services .card-footer {
  font-weight: bold;
  color: var(--highlight-color);
  background-color: transparent;
}

#services .card {
  margin-bottom: 1.5rem;
}

/* Games Library */
/* Services */
#games .card-footer {
  font-weight: bold;
  color: var(--highlight-color);
  background-color: transparent;
}

#games .card {
  margin-bottom: 1.5rem;
}



/* grid visualization CSS for testing */
/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Media Queries */

/* Medium devices (tables, 768px and up) */
@media screen and (min-width: 768px) {
  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: 191px;
  }
}

/* Medium devices (tables, 992px and up) */
@media screen and (min-width: 992px) {
  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: auto;
  }
}

/* XL devices (tables, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: 220px;
  }
}

/* XXL devices (tables, 1400px and up) */
@media screen and (min-width: 1400px) {
  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: 195px;
  }
}
